@charset "utf-8";
@import url("../webfonts/Geometry/stylesheet.css");

body {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Verdana;
	
}

img {
	margin-left: 5px;
	margin-right: 15px;
}

#accordion1{
	margin-left: 50px;
	margin-right: 70px;
	
}

.card {
  border: none; /* Card kenarlıklarını kaldır */
  border-radius: 0; /* Köşe yuvarlamalarını kaldır */
}

.card.side-page {
	 border: none;
     padding: 20px;
	 display: flex;
     justify-content: center; 
     align-items: center;
	 text-align: center;
} 

.container-fluid {
	margin-top: 10px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

span {
    font-family: Geometry;
}

h1 {
    color: #901E5F;
    font-weight: bold;	
}

.no-link-style {
  color: inherit;
  text-decoration: none;
}

.no-link-style:hover {
  color: aliceblue;
  text-decoration: none;
   
}

video::cue(.bg_black) {
    background-color: black;
	font-size: 20px;
}

video::cue(.f_size) {
	font-size: 20px;
}

.responsive-video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.responsive-video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.card-body {
	border: none;
	justify-content: center;
	align-items: center;
}

.card-header {
	
  background-color: #f8f9fa; 
  border-bottom: 2px solid #dee2e6; 
  padding: 10px 20px;
  transition: none !important; 
}

.card-header:hover {
  background-color: #901E5F;
	color: aliceblue;
	
}

.btn {
	text-align: left;
}

.main-h1 {
	text-align: center;
}

@media screen and (max-width:768px){
	body{
		font-size: 12px;
		margin: 5px;
		padding: 5px;
	}
	h1 {
		font-size: 20px;
	}
	
	video::cue(.bg_black) {
    background-color: black;
	font-size: 15px;
}

	video::cue(.f_size) {
		font-size: 15px;
	}
	
	
}

@media screen and (max-width:370px){
	body{
		font-size: 12px;
		margin: 5px;
		padding: 5px;
	}
	h1 {
		font-size: 20px;
	}
	
	video::cue(.bg_black) {
    background-color: black;
    font-size: 7px;
	}

	video::cue(.f_size) {
		font-size: 7px;
	}
}

